NEXT_PUBLIC_SUBTENSOR_RPC=wss://test.chain.opentensor.ai
NEXT_PUBLIC_SUBTENSOR_HTTP_RPC=https://test.chain.opentensor.ai
NEXT_PUBLIC_CHAIN_GENESIS_HASH=0x8f9cf856bf558a14440e75569c9e58594757048d7b3a84b5d25f6bd978263105
SUBTENSOR_HTTP_RPC=https://test.chain.opentensor.ai
SUBTENSOR_RPC=wss://test.chain.opentensor.ai
CHAIN_GENESIS_HASH=0x8f9cf856bf558a14440e75569c9e58594757048d7b3a84b5d25f6bd978263105
SUPPORTED_SPEC_VERSION=440
START_BLOCK=
STOP_BLOCK=
DATABASE_URL=
REPLAY_DATABASE_URL=
